body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table, td {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
img { -ms-interpolation-mode: bicubic; }

/* RESET STYLES */
ul, li, img {
  /* Note the capital M in Margin. This is the only way to set margins
in Outlook.com
https://litmus.com/community/discussions/1093-bulletproof-lists-using-ul-and-li
 */
  Margin: 0;
  Margin-bottom: 0;
  Margin-right: 0;
  Margin-left: 0;
  Margin-top: 0;
}

* {
  font-size: 12px;
}

li, img {
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  line-height: 100%;
  outline: none;
  text-decoration: none;
  border:none;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  display:block;
}
table {
  border-collapse: collapse !important;
  width: 100%;
  border: 0;
}

.wrapper {
  width: 600px;
  background-color: #FFFFFF;
}

.container {
  width: 500px;
  background-color: #FFFFFF;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.heading {
  color: #000000;
  font-size: 21px;
  text-align: left;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #525252;
  text-align: justify;
  line-height: 22px;
}

.text.right {
  padding-left: 20px;
  vertical-align: middle;
}

.label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #525252;
  font-weight: 700;
}

td {
  font-family: 'Open Sans', sans-serif;
}

.spacing {
  height: 10px;
  font-size:6px;
  line-height:10px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

#content {
  background-color: #FFFFFF;
  width: 500px;
}

#highlight-wrapper {
  background-color: #636363;
}

#highlight {
  background-color: #636363;
  width: 440px;
  text-align: center;
}

#highlight td {
  color: #F2F2F2;
  font-size: 18px;
}


#footer {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

#footer td {
  color: #59595b;
  font-size: 14px;
}

#footer a {
  color: #59595b;
}


/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }

/* MEDIA QUERIES */

@media all and (max-width:600px) {
  td[class*="hidden"] {
    display: none;
  }
  *[class*="wrapper"]{
    width: 100%!important;
    padding: 0 !important;
  }
  *[class*="container"]{
    width: 100%!important;
    max-width: 600px!important;
    padding: 0 !important;
  }
  #content {
    width: 90%!important;
    max-width: 500px!important;
    padding: 0!important;
  }
  #hightlight {
    max-width: 440px!important;
    width: 90%!important;
  }
  *[class*="mobile"]{
    width:300px!important;
    display:block!important;
    padding: 0 !important;
  }
  *[class*="img"]{
    width:100% !important;
    height:auto !important;
  }
  *[class="mobileOff"] {
    width: 0px !important;
    display: none !important;
  }
  *[class*="mobileOn"] {
    display: block !important;
    max-height:none !important;
  }

  *[class*="right"] {
    padding-left: 0 !important;
  }
}

