<table data-slot-container id="footer" cellpadding="0" cellspacing="0">
  {{ spacing(2) }}
  <tr>
    <td data-slot="text" align="center" valign="top" colspan="2">
      © 2017 Some brand
    </td>
  </tr>
  <tr>
    <td data-slot="text" align="center" valign="top" colspan="2">
      <a href="mailto:contact@some-brand.com">contact@some-brand.com</a>
    </td>
  </tr>
  {{ spacing(2) }}
</table>
