<table id="header" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <table cellpadding="0" cellspacing="0" border="0" class="wrapper">
        <tr>
          <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" class="wrapper">
              <tr>
                <td data-slot="image" class="wrapper">
                  {{img(dict(src='http://via.placeholder.com/600x200',
                  width='600', height='200', alt='Placeholder image'))}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
