{% macro img(image) %}
<img
  class="img"
  src="{{image.src}}"
  width="{{image.width}}"
  height="{{image.height}}"
  alt="{{image.alt}}"
  border="0">
{% endmacro %}

{% macro spacing(colspan) %}
<tr>
  <td class="spacing" colspan={{colspan|default(1)}}>&nbsp;</td>
</tr>
{% endmacro %}

<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet"
      data-premailer="ignore"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" href="static/main.css">
    <style type="text/css" data-premailer="ignore">
     body {
       width: 100% !important;
     }
    </style>
    <!--[if mso]>
      <style type=”text/css”>
      .text, td {
      font-family: sans-serif;
      }
      div {
      display: block !important;
      }
      </style>
    <![endif]-->
  </head>
  <body style="margin:0; padding:0; background-color:#F2F2F2;">
    <div data-section-wrapper>
      <center>
        <table
          width="100%"
          border="0"
          cellpadding="0"
          cellspacing="0"
          bgcolor="#F2F2F2"
        >
          <tr>
            <td align="center" valign="top">
              <table
                cellpadding="0"
                cellspacing="0"
                border="0"
                class="wrapper"
              >
                <tr>
                  <td align="center" valign="top">
                    {% include "header.html" %}
                  </td>
                </tr>
                {{ spacing() }}
                <tr>
                  <td align="center" valign="top">
                    <table
                      id="content"
                      cellpadding="0"
                      cellspacing="0"
                      border="0"
                    >
                      {% block content%}{% endblock %}
                    </table>
                  </td>
                </tr>
                {{ spacing() }}
                {{ spacing( )}}
              </table>
            </td>
          </tr>
        </table>
        {% include "footer.html" %}
      </center>
    </div>
  </body>
</html>
