{% extends 'layout.html' %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
{{ spacing( )}}

<tr>
  <td>
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tr>
        <td class="heading">
          Tempor incididunt ut labore
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="row">
    <table
      class="row"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tr>
        <td class="hidden" align="center" valign="top">
          {{
          img(
          dict(
          src="http://via.placeholder.com/200x200",
          width=200,
          height=200,
          alt="Some image"
          )
          )
          }}
        </td>
        <td class="text right" align="center" valign="top">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </td>
      </tr>
    </table>
  </td>
</tr>
{{ spacing( )}}
<tr>
  <td>
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tr>
        <td class="heading">
          Laboris nisi ut aliquip ex ea commodo
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="row">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tr>
        <td class="hidden" align="center" valign="top">
          {{
          img(
          dict(
          src="http://via.placeholder.com/200x200",
          width=200,
          height=200,
          alt="Some image"
          )
          )
          }}
        </td>
        <td class="text right" align="center" valign="top">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </td>
      </tr>
    </table>
  </td>
</tr>
{{ spacing() }}

<tr>
  <td id="highlight-wrapper" align="center" valign="top">
    <table id="highlight" cellspacing="0" cellpadding="0" class="container">
      {{ spacing( )}}
      <tr>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor
        </td>
      </tr>
      {{ spacing( )}}
    </table>
  </td>
</tr>

{{ spacing( )}}
{{ spacing( )}}
{% endblock %}
